<div class=container>
    <div class="row　justify-content-center">
        <h1 class="col-lg-8">About</h1>
    </div>
        <div clas="row jusify-content-center">
            <div class="col-lg-8">
                <p>ながのCAKEは全国発送可能なケーキ屋さんです</p>
                <p>お子様からお年寄りの方までお召し上がりいただけるよう,</p>
                <p>様々なバリエーションをご用意しております。</p>
                <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
                <p>ぜひご注文ください</p>
                <tbody></tbody> <%# ここにも画像が入る予定です　%>
        </div>
    </div>
</div>